<!-- *ngIf="contact" -->
<div class="custom-container" *ngIf="contact" >
<app-header class="item1"></app-header>
    <div class="item3">
        <img src="{{contact.avatar}}" width="95" height="95" alt="contact.title">
        <br>    
        <video #contactVideo width="95" height="95" 
        style="border: 1px solid black; object-fit: cover;"></video>
            <!-- <source src="contact.avatar" alt="contact.title" type="image/*"></source> -->
        <br>
        <h1>{{contact.title}}</h1>
        <br>
        <h3 *ngIf="!callStarted">Llamando...</h3>
        <h3 *ngIf="callStarted">{{stopwatch| timer:stopwatch.hours:stopwatch.minutes:stopwatch.seconds}}</h3>
        <button type="button" mat-card-avatar mat-icon-button class="modal-button" >
            <img mat-card-avatar class="avatar" src="assets/icons/call-ended.svg" (click)="endCall()">
        </button>
    </div>
</div>


<div class="modal fade" id="callDenegated" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Connection refused</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
              User is busy in this moment 😓.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeConnection()">Close</button>
            </div>
        </div>
    </div>
</div>


<answer-call-modal></answer-call-modal>