<mat-toolbar class="toolbar">
    <img src="../../../assets/icons/speech-bubble.svg" width="24px" height="24px">
    <span>Sistema de mensajería</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <img mat-card-avatar src="{{userCard.avatar}}" class="avatar">
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar>