<mat-toolbar class="toolbar">
    <img src="assets/icons/speech-bubble.svg" width="24px" height="24px">
    <span>Sistema de mensajería</span>
    <span class="example-spacer"></span>
    <button matTooltip="{{userCard.title}}"  mat-icon-button mat-card-avatar aria-label="User photo">
        <img mat-card-avatar src="{{userCard.avatar}}" class="avatar">
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon"
    [matMenuTriggerFor]="menu" aria-label="options">
      <mat-icon>more_vert</mat-icon>
    </button>

    <!--menu-->
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </mat-toolbar>