<section class="chat-section-contaner">
    <div class="contact-info">
            <user-card [title]="contact.title" [subtitle]="contact.subtitle" [status]="contact.status"
                [avatar]="contact.avatar"></user-card>
        <div class="icon-container">
            <button mat-icon-button class="icon" (click)="makeAVideoCall()">
                <mat-icon>videocam</mat-icon>
            </button>
            <button mat-icon-button class="icon" (click)="makeACall()">
                <mat-icon>call</mat-icon>
            </button>
        </div>
    </div>
    <!--messages-section-->
    <div class="messages-section scroll" #messageSection>
        <div *ngFor="let message of messages">
            <chat-bubble *ngIf="message.type===0" [content]="message.content" [date]="message.date" [type]="message.type"
                [avatar]="userCard.avatar"></chat-bubble>
            <chat-bubble *ngIf="message.type===1" [content]="message.content" [date]="message.date" [type]="message.type"
                [avatar]="contact.avatar"></chat-bubble>
        </div>
    </div>
    <!--new message section-->
    <div class="new-message-section">
        <form action="" class="new-message-form" #sendMessageForm="ngForm">
            <button class="emoji-picker item1" mat-icon-button (click)="toggled = !toggled" [(emojiPickerIf)]="toggled"
                [emojiPickerDirection]="'bottom' || 'top' || 'left' || 'right'"
                (emojiPickerSelect)="handleSelection($event)">
                <mat-icon>sentiment_satisfied_alt</mat-icon>
            </button>
            <div class="item2">
                <textarea name="message" type="text" placeholder="Escribe un mensaje" required class="new-message-textarea" 
                [(ngModel)]="messageToSend" (keyup.enter)="handleSubmit(sendMessageForm)"></textarea>
            </div>
            <div class="item3">
                <button mat-icon-button class="send-button" (click)="handleSubmit(sendMessageForm)">
                    <mat-icon>send</mat-icon>
                </button>
            </div>
        </form>
    </div>
</section>


