<section class="sidebar-container">
    <div class="search-container">
        <form class="search-form" #searchForm="ngForm" (ngSubmit)="onSubmit(searchForm)">
            <input type="text" placeholder="Buscar usuario" class="search-input">
            <mat-icon class="search-button">search</mat-icon>
        </form>
    </div>
    <div class="inbox-container" *ngIf="contactsInfo">
        <span class="inbox" *ngFor="let contact of contactsInfo">
            <user-card [title]="contact.title" [subtitle]="contact.subtitle" [status]="contact.status"
                [avatar]="contact.avatar" (click)="notify(contact)"></user-card>
                <!-- <user-card [contact]="contact" (click)="notify(contact)"></user-card> -->
        </span>
    </div>
</section>