<user-card [title]="userCard.title" [subtitle]="userCard.subtitle" [avatar]="userCard.avatar" [status]="userCard.status"></user-card>
<user-card [title]="userCard.title" [subtitle]="userCard.subtitle" [avatar]="userCard.avatar" [status]="userCard.status"></user-card>
<user-card [title]="userCard.title" [subtitle]="userCard.subtitle" [avatar]="userCard.avatar" [status]="userCard.status"></user-card>
<user-card [title]="userCard.title" [subtitle]="userCard.subtitle" [avatar]="userCard.avatar" [status]="userCard.status"></user-card>
