<mat-card *ngIf="contact" class="user-card" (click)="userCardClicked()">
    <mat-card-header>
        <div mat-card-avatar *ngIf="contact.avatar">
            <img mat-card-avatar src="{{contact.avatar}}"  >
            <div *ngIf="contact.status==='online' || contact.status==='offline'" class="badge"  [ngClass]="{'online': contact.status==='online', 'offline': contact.status==='offline'}"></div>
        </div>
        <div mat-card-avatar *ngIf="!contact.avatar">
            <img mat-card-avatar src="../../../assets/icons/default-avatar.svg"  >
            <div *ngIf="contact.status==='online' || contact.status==='offline'" class="badge"  [ngClass]="{'online': contact.status==='online', 'offline': contact.status==='offline'}"></div>
        </div>
        <mat-card-title>{{parsedTitle}}</mat-card-title>
        <mat-card-subtitle>{{parsedSubtitle}}</mat-card-subtitle>
    </mat-card-header>
</mat-card>