<mat-card class="user-card" (click)="print()">
    <mat-card-header>
        <div mat-card-avatar *ngIf="avatar">
            <img mat-card-avatar src="{{avatar}}"  >
            <div *ngIf="status==='online' || status==='offline'" class="badge"  [ngClass]="{'online': status==='online', 'offline': status==='offline'}"></div>
        </div>
        <div mat-card-avatar *ngIf="!avatar">
            <img mat-card-avatar src="assets/icons/default-avatar.svg"  >
            <div *ngIf="status==='online' || status==='offline'" class="badge"  [ngClass]="{'online': status==='online', 'offline': status==='offline'}"></div>
        </div>
        <mat-card-title>{{parsedTitle}}</mat-card-title>
        <mat-card-subtitle>{{parsedSubtitle}}</mat-card-subtitle>
    </mat-card-header>
</mat-card>